export DATABASE_HOST=host.docker.internal
export DATABASE_USER=root
export DATABASE_PASSWORD=root
export DATABASE_NAME=gex
export DATABASE_PORT=3306

export RABBITMQ_HOST=host.docker.internal
export RABBITMQ_PORT=5672
export RABBITMQ_USER=guest
export RABBITMQ_PASSWORD=guest