DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_NAME=gex
DATABASE_PORT=3306

GRUMER_SECRET_KEY=bd8fe643a6e1b725db136104efebe450243ed7ef6c6a755ab9b2315fb648f153

RABBITMQ_HOST=host.docker.internal
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest